Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

fix: version detection script
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  363f4e1af31ac59518bced467ef9b1c0aa360050
Due: none

fix: version detection
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  e7458f5fccee9b758495148d845a4c62313a765d
Due: none

fix: docker login
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  007b93989406fc0d90a3c4a83df0f8ba31a74af5
Due: none

fix: config
  src/config.ts
Due: prettier --write, eslint --max-warnings 0

fix: readme
  README.md
Due: none

fix: release
  .github/workflows/release.yml
  .releaserc
  Dockerfile
Due: none

Notes added by 'git notes add'
  e42cd5b98afb7afb06910825b7a3a7ebf617b00b
Due: none

fix: dockerignore
  .dockerignore
Due: none

Notes added by 'git notes add'
  dec0848180799354033cf2953cfe32d197efdf01
Due: none

fix: release
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  9f91e236e0d4ad66bab543b554e7691dac2d4bf4
Due: none

feat: scripts
  .env.template
  .gitignore
  scripts/setup.sh
  scripts/start.tmpl
  scripts/stop.tmpl
  scripts/update.tmpl
Due: none

fix: release flow
  .github/workflows/release.yml
  .releaserc
  package.json
  yarn.lock
Due: prettier --write

fix: namings
  .github/workflows/release.yml
Due: none

fix: release flow
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  a3d5b1b7ba5d110b055778d282261777092406f5
Due: none

chore(release): 1.2.0 [skip ci]
  package.json
Due: prettier --write

fix: update readme
  README.md
Due: none

feat: improve scripts
  .env.template
  .gitignore
  scripts/setup.sh
  scripts/start.tmpl
  scripts/stop.tmpl
  scripts/update.tmpl
Due: none

feat: improve utilization of caching
  Dockerfile
Due: none

fix: always print bot is running message
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

fix: refactor makefile
  Makefile
Due: none

chore(release): 1.3.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  872878cd8801948311a2b6d643e1d59029fb3a19
Due: none

docs: update readme
  README.md
Due: none

docs: update disclaimer
  README.md
Due: none

fix: try to fix non-interactive shell problem
  scripts/setup.sh
Due: none

chore(release): 1.3.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4b43da75e6d3be78b10d229059aae1fc4bca353c
Due: none

fix: rollback non-interactive shell fix
  scripts/setup.sh
Due: none

chore(release): 1.3.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  cb2e8dac23b54836172ca2e738fa8d34690cb05d
Due: none

fix: setup command
  README.md
  scripts/update.tmpl
Due: none

fix: logs visible in runtime
  Dockerfile
  src/config.ts
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

fix: improve post setup instructions
  scripts/setup.sh
  scripts/stop.tmpl
Due: none

Notes added by 'git notes add'
  dbac7762f0a262bb98253dc213808298b32ad308
Due: none

chore(release): 1.3.3 [skip ci]
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: **/src/**/*.{ts,tsx,js,jsx})
  eslint --max-warnings 0: any of: **/src/**/*.{ts,tsx,js,jsx}
