Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

feat: use full path to data folder and .env file
  scripts/start.tmpl
Due: none

chore(release): 1.4.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8fa56aa86d551e2662ece182d65e742df6d85c74
Due: none

fix: windows style paths
  scripts/start.tmpl
Due: none

chore(release): 1.4.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  52835e0ce4afefecdb55d57f52ca9cc3f208707c
Due: none

docs: update readme
  README.md
Due: none

docs: update prerequisites
  README.md
Due: none

feat: create dependabot.yml
  .github/dependabot.yml
Due: none

fix: dependabot.yml
  .github/dependabot.yml
Due: none

chore(release): 1.5.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  448b7aae24d00a336c4ac7cb2cade4cca3f6e123
Due: none

fix: improve update case
  scripts/setup.sh
Due: none

Notes added by 'git notes add'
  e8571389de8ef092738aa28609fecbecf140f019
Due: none

chore(release): 1.5.1 [skip ci]
  package.json
Due: prettier --write

fix: port variable
  scripts/setup.sh
Due: none

fix: persist qbt host
  scripts/setup.sh
Due: none

chore(release): 1.5.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ff5af912201b2d45003bad824b0c25de88095450
Due: none

fix: do not rewrite configured save path on update
  scripts/setup.sh
Due: none

Notes added by 'git notes add'
  83a5f4a2bb3a248a239a3d35e94bcabddb64fddc
Due: none

chore(release): 1.5.3 [skip ci]
  package.json
Due: prettier --write

chore: bump deps versions
  package.json
  yarn.lock
Due: prettier --write

fix: lint
  src/utils/formatBytes.ts
Due: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  b4baf3f2e9cb918a6fcb6abc24f8390d57b21ddc
Due: none

chore(release): 1.5.4 [skip ci]
  package.json
Due: prettier --write

fix: save path
  scripts/setup.sh
Due: none

chore(release): 1.5.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  05daeb912585a1d126fe00f9779ac1e961330281
Due: none

feat: add torrent details link
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.6.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1a101dcee0d8a689f3356fab028d656836647b89
Due: none

feat: allow to list and download torrent files
  .env.api.template
  .env.template
  .gitignore
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
  package.json
  scripts/setup.sh
  scripts/start.tmpl
  scripts/stop.tmpl
  src/composers/TorrentsComposer.ts
  src/index.ts
  src/qBittorrent/QBittorrentClient.ts
  src/qBittorrent/models.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.7.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a4788b1537ff454c00e822157da28af63dd2d7e7
Due: none

fix: paths
  scripts/start.tmpl
Due: none

chore(release): 1.7.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5d3bdc8157a091615eae91afb94fb30c17b8f524
Due: none

fix: normalize file path
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

Path conditions:
  prettier --write: (any of: *.json) or (any of: **/src/**/*.{ts,tsx,js,jsx})
  eslint --max-warnings 0: any of: **/src/**/*.{ts,tsx,js,jsx}
