Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint --max-warnings 0

.lintstagedrc.json:

{
  "src/**/*.{ts,js}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{md,json,css}": [
    "prettier --write"
  ]
}

.lintstagedrc.yml:

'*.json': prettier --write
'**/src/**/*.{ts,tsx,js,jsx}':
  - eslint --max-warnings 0
  - prettier --write

fix(torrent): reply with existing torrent info when add returns duplicate
  locales/en.ftl
  locales/ru.ftl
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore: user-requested commit
  src/domain/services/TorrentService.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.25.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f7984abf2e4609670b6a5702faef6da851caeebe
Due: none

feat(torrent): send single torrent card helper; use for duplicate completed torrents
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

feat(torrent): show torrent card on duplicate add; recreate progress card when pending
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore: commit from assistant
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.26.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d789fc70576c7f522bb0d47d4d071979fe425c91
Due: none

fix(torrent): remove files/remove buttons from single torrent card
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.26.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0db33cff5d5d665f703acb6f1429ba853f459734
Due: none

fix(i18n): fix command localization and fluent loading
  locales/en.ftl
  locales/ru.ftl
  src/presentation/bot/commandsRegistry.ts
  src/shared/fluent.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.26.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a76db98ed472e83cc90d5232fca1aeace6056051
Due: none

fix(i18n): fix fluent loading to read file contents instead of paths
  src/shared/fluent.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.26.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bb65041aa8f3ded3475a1e97be3eb20ca7f792cc
Due: none
