Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  c95c19f5bf9624c126b0f099ab8efe0f53d7d857
Due: none

chore: add skip messages for idempotent install steps
  scripts/install-linux.sh
Due: none

chore: optimize install-linux.sh - remove unnecessary packages and improve idempotency
  scripts/install-linux.sh
Due: none

fix: correct ensure_root_deps_debian to install required packages and check systemctl
  scripts/install-linux.sh
Due: none

docs: comprehensive architecture review, refactoring PRD, and dependency analysis
  docs/CODE_REVIEW.md
  docs/DEPENDENCY_ANALYSIS.md
  docs/PRD_ARCHITECTURE_REFACTORING.md
Due: none

docs: add Architecture Decision Records with 6 key decisions
  docs/ADR.md
Due: none

docs: add comprehensive architecture review summary
  docs/ARCHITECTURE_REVIEW_SUMMARY.md
Due: none

docs: add documentation index and reading guide
  docs/README.md
Due: none

ci: enhance CI workflow (lint, build, test, coverage, codecov)
  .github/workflows/ci.yml
  mikro-orm.config.cjs
  package.json
  src/di.ts
  src/domain/services/SearchService.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/entities/TorrentMeta.js.d.ts
  src/index.ts
  src/infrastructure/session/SQLiteSessionStore.ts
  src/orm.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/qBittorrent/QBittorrentClient.js.d.ts
  src/qBittorrent/models.js.d.ts
  src/searchEngines/SearchEngine.js.d.ts
  src/utils/Logger.js.d.ts
  src/utils/TorrentMetaRepository.js.d.ts
  src/utils/result.js.d.ts
  tsconfig.emit.json
  tsconfig.json
  tsconfig.test.json
  vitest.config.ts
Due: prettier --write, eslint --max-warnings 0

ci: fix Codecov if-expression (use ${{ secrets.CODECOV_TOKEN != "" }})
  .github/workflows/ci.yml
Due: none

ci: make artifact upload tolerant (warn if no files)
  .github/workflows/ci.yml
Due: none

ci: remove Codecov step and disable test-results upload to stabilize workflow
  .github/workflows/ci.yml
Due: none

ci: fix lint issues and adjust config for tests/session
  eslint.config.js
  src/__tests__/sanity.test.ts
  src/config/app.config.ts
  src/di.ts
  src/domain/services/ChatSessionService.ts
  src/domain/services/FileService.ts
  src/domain/services/SearchService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/ChatSessionService.test.ts
  src/domain/services/__tests__/FeatureFlagService.test.ts
  src/domain/services/__tests__/FileService.test.ts
  src/domain/services/__tests__/SearchService.test.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/index.ts
  src/infrastructure/session/InMemorySessionStore.ts
  src/infrastructure/session/SQLiteSessionStore.ts
  src/infrastructure/session/__tests__/RedisSessionStore.test.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/FileHandler.ts
  src/presentation/bot/handlers/MediaHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/FileHandler.test.ts
  src/presentation/bot/handlers/__tests__/MediaHandler.test.ts
  src/presentation/bot/handlers/__tests__/SearchHandler.test.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
  src/presentation/bot/middleware/ErrorMiddleware.ts
  src/qBittorrent/QBittorrentClient.ts
  src/qBittorrent/__tests__/QBittorrentClient.test.ts
  src/searchEngines/RutrackerSearchEngine.ts
  src/searchEngines/__tests__/RutrackerSearchEngine.test.ts
  src/searchEngines/schemas.ts
  src/utils/__tests__/TorrentMetaRepository.test.ts
  src/utils/result.ts
Due: prettier --write, eslint --max-warnings 0

chore(session): remove session override; normalize session store and tests; fix lint
  eslint.config.js
  src/di.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/ChatSessionService.test.ts
  src/infrastructure/session/SQLiteSessionStore.ts
  src/infrastructure/session/__tests__/RedisSessionStore.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(session): normalize session store casing and imports
  eslint.config.js
  src/di.ts
  src/infrastructure/session/RedisSessionStore.ts
  src/infrastructure/session/SQLiteSessionStore.ts
  src/infrastructure/session/__tests__/RedisSessionStore.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(session): rename SQLiteSessionStore -> SqliteSessionStore (case change)
  src/infrastructure/session/SqliteSessionStore.ts
Due: prettier --write, eslint --max-warnings 0

chore(session): update imports to SqliteSessionStore casing
  src/di.ts
  src/infrastructure/session/__tests__/RedisSessionStore.test.ts
Due: prettier --write, eslint --max-warnings 0

test(session): rename RedisSessionStore.test -> SqliteSessionStore.test
  eslint.config.js
  src/infrastructure/session/__tests__/SqliteSessionStore.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(session): keep only DbSessionStore and rename tests
  docs/prds/adr-027-session-store-sqlite.md
  eslint.config.js
  migrations/Migration20260120090000_CreateChatSession.ts
  src/config/app.config.ts
  src/config/env.schema.ts
  src/di.ts
  src/domain/services/__tests__/FeatureFlagService.test.ts
  src/domain/services/__tests__/SearchService.test.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/entities/ChatSession.ts
  src/index.ts
  src/infrastructure/session/DbSessionStore.ts
  src/infrastructure/session/SqliteSessionStore.ts
  src/infrastructure/session/__tests__/DbSessionStore.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/FileHandler.test.ts
  src/presentation/bot/handlers/__tests__/MediaHandler.test.ts
  src/presentation/bot/handlers/__tests__/SearchHandler.test.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(session): remove legacy SqliteSessionStore and tests
  src/infrastructure/session/SqliteSessionStore.ts
  src/infrastructure/session/__tests__/SqliteSessionStore.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(migrations): move chat session migration to src/migrations and make SQLite-compatible
  src/migrations/Migration20260120090000_CreateChatSession.ts
Due: prettier --write, eslint --max-warnings 0

chore(migrations): add SQLite-compatible migration with filename matching lint rule
  src/migrations/Migration20260120090000CreateChatSession.ts
Due: prettier --write, eslint --max-warnings 0

chore(migrations): remove underscore-named duplicate migration
  src/migrations/Migration20260120090000_CreateChatSession.ts
Due: prettier --write, eslint --max-warnings 0

chore(imports): add fixer to append .js to relative imports (dry-run/apply)
  package.json
  src/tools/add-js-extension.ts
Due: prettier --write, eslint --max-warnings 0

feat: Modernize architecture with modular handlers and type safety
  MIGRATION_PLAN.md
  docs/ADR.md
  docs/ARCHITECTURE_REVIEW_SUMMARY.md
  docs/CODE_REVIEW.md
  docs/DEPENDENCY_ANALYSIS.md
  docs/PRD_ARCHITECTURE_REFACTORING.md
  docs/README.md
  docs/prds/adr-027-session-store-sqlite.md
  migrations/Migration20260120090000_CreateChatSession.ts
  package.json
  src/Context.ts
  src/composers/TorrentsComposer.ts
  src/di.ts
  src/domain/errors/AppError.ts
  src/domain/errors/DomainError.ts
  src/domain/errors/TorrentError.ts
  src/domain/services/FileService.ts
  src/domain/services/MediaService.ts
  src/domain/services/SearchService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/FileService.test.ts
  src/domain/services/__tests__/SearchService.test.ts
  src/index.ts
  src/infrastructure/session/cleanup.ts
  src/migrations/Migration20260120090000CreateChatSession.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/MediaHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.integration.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/MediaHandler.test.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
  src/presentation/bot/middleware/DIContainerMiddleware.ts
  src/presentation/bot/middleware/ErrorMiddleware.ts
  tsconfig.json
Due: prettier --write, eslint --max-warnings 0

style: Format DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
Due: prettier --write, eslint --max-warnings 0

fix: Fix linting errors for CI
  src/domain/services/MediaService.ts
  src/domain/services/TorrentService.ts
  src/index.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.integration.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
  src/presentation/bot/middleware/ErrorMiddleware.ts
  src/presentation/bot/middleware/diContainerMiddleware.ts
Due: prettier --write, eslint --max-warnings 0

fix: Remove all linting warnings in integration tests
  src/presentation/bot/handlers/__tests__/DownloadHandler.integration.test.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
Due: prettier --write, eslint --max-warnings 0

fix: Fix TypeScript build errors
  src/domain/services/MediaService.ts
  src/domain/services/TorrentService.ts
  src/presentation/bot/handlers/DownloadHandler.ts
Due: prettier --write, eslint --max-warnings 0

style: Sort imports in DownloadHandler.ts
  src/presentation/bot/handlers/DownloadHandler.ts
Due: prettier --write, eslint --max-warnings 0

fix: Add missing @vitest/coverage-v8 dependency
  package.json
Due: prettier --write

chore: Add @vitest/coverage-v8 dependency with proper version
  package.json
  yarn.lock
Due: prettier --write

chore: Refresh yarn.lock with @vitest/coverage-v8@1.6.1
  yarn.lock
Due: none

fix: Import Response from undici to fix Node.js 18.x compatibility
  src/searchEngines/__tests__/RutrackerSearchEngine.test.ts
Due: prettier --write, eslint --max-warnings 0

style: Sort imports in RutrackerSearchEngine.test.ts
  src/searchEngines/__tests__/RutrackerSearchEngine.test.ts
Due: prettier --write, eslint --max-warnings 0

ci: Remove Node.js 18.x from test matrix
  .github/workflows/ci.yml
Due: none

chore(release): 1.18.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a115712d83c4629bf7f30e3e64d1a8da8b5e7b47
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: **/src/**/*.{ts,tsx,js,jsx})
  eslint --max-warnings 0: any of: **/src/**/*.{ts,tsx,js,jsx}
