Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  9630fa91461d578522018a4d7d28e60b5f045ee4
Due: none

chore(release): 1.7.2 [skip ci]
  package.json
Due: prettier --write

fix: webui address setup
  scripts/setup.sh
Due: none

chore(release): 1.7.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fb255c28cbbff4453b1b718529a37d9a41071a61
Due: none

fix: resolve file path
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  d83fb3992b5525519b37d5da0335686c1d5c8fa4
Due: none

chore(release): 1.7.4 [skip ci]
  package.json
Due: prettier --write

fix: encoding video
  Dockerfile
  scripts/setup.sh
  scripts/start.tmpl
  src/composers/TorrentsComposer.ts
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.7.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c7626c4b5eb2ae455bd8f90437e61bc44c8fb09e
Due: none

docs: update readme
  .env.api.template
  .env.template
  README.md
Due: none

feat: set max video bitrate
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  f9f651bd38fbbd52eab4560ac84eec8b81384b63
Due: none

chore(release): 1.8.0 [skip ci]
  package.json
Due: prettier --write

feat: replace audio codec
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  80c197d2be8cec20486324f6b21b25ea50acd817
Due: none

chore(release): 1.9.0 [skip ci]
  package.json
Due: prettier --write

feat: rollback audio codec
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.10.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7e66bd056e68e9a12f51007b48ed3df078e7551b
Due: none

fix: max video bitrate
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.10.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  24da20ca29a1ce8eabc051451c00f6689f8adb10
Due: none

chore(release): 1.10.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b629a71b1404d9f0daaf3a3a19c31c25c7bc6a01
Due: none

docs: update readme
  README.md
Due: none

feat: play with encoding options
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.11.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1dd88051c2e93a56a5ce614b6a3ff75d84837fdc
Due: none

fix: log out bot of hosted api server while setup
  scripts/setup.sh
Due: none

chore(release): 1.11.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8f382ec813e93c4b4920d7fd78c9ed880bce0199
Due: none

fix: set fast preset instead of superfast
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.11.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5d888b00724aff0333f7f5399882a6c1c3299fb8
Due: none

docs: update logo
  README.md
  static/image.webp
  static/logo.webp
Due: none

Path conditions:
  prettier --write: (any of: *.json) or (any of: **/src/**/*.{ts,tsx,js,jsx})
  eslint --max-warnings 0: any of: **/src/**/*.{ts,tsx,js,jsx}
