Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

.lintstagedrc.yml:

'*.json': prettier --write
'**/src/**/*.{ts,tsx,js,jsx}':
  - eslint --max-warnings 0
  - prettier --write

feat(bot): add CommandsRegistry and auto-register global commands
  locales/en.ftl
  locales/ru.ftl
  src/config/app.config.ts
  src/config/env.schema.ts
  src/di.ts
  src/domain/services/MediaService.ts
  src/domain/services/TorrentService.ts
  src/index.ts
  src/presentation/bot/CommandsRegistry.ts
  src/presentation/bot/__tests__/registerCommands.test.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
  src/presentation/bot/registerCommands.ts
  src/searchEngines/__tests__/RutrackerSearchEngine.test.ts
Due: prettier --write, eslint --max-warnings 0

chore: apply Prettier formatting
  src/di.ts
  src/index.ts
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --max-warnings 0

chore(restructure): move entities to domain/entities
  .eslintignore
  audit/dirs.txt
  audit/files.txt
  docs/architecture.md
  docs/filenames.md
  rename-maps/entities.csv
  scripts/git-rename-workaround.sh
  scripts/rename-files.cjs
  scripts/update-imports.cjs
  src/composers/AuthComposer.ts
  src/domain/entities/ChatSession.ts
  src/domain/entities/ChatSettings.ts
  src/domain/entities/TorrentMeta.ts
  src/domain/entities/User.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/infrastructure/session/DbSessionStore.ts
  src/infrastructure/session/cleanup.ts
  src/utils/ChatSettingsRepository.ts
  src/utils/TorrentMetaRepository.ts
  src/utils/__tests__/TorrentMetaRepository.test.ts
  untitled:plan-camelCase.prompt.md
Due: prettier --write, eslint --max-warnings 0

chore(restructure): move utils to shared/ and infrastructure/persistence
  rename-maps/utils.csv
  src/domain/services/FileService.ts
  src/domain/services/MediaService.ts
  src/domain/services/SearchService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/index.ts
  src/infrastructure/persistence/repositories/ChatSettingsRepository.ts
  src/infrastructure/persistence/repositories/TorrentMetaRepository.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/FileHandler.ts
  src/presentation/bot/handlers/MediaHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/qBittorrent/QBittorrentClient.ts
  src/qBittorrent/__tests__/QBittorrentClient.test.ts
  src/searchEngines/RutrackerSearchEngine.ts
  src/shared/types/types.ts
  src/shared/utils/Config.ts
  src/shared/utils/ConfigEnv.ts
  src/shared/utils/CookieStorage.ts
  src/shared/utils/RpcClient.ts
  src/shared/utils/formatBytes.ts
  src/shared/utils/formatDuration.ts
  src/shared/utils/logger.ts
  src/shared/utils/result.ts
  src/utils/__tests__/TorrentMetaRepository.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(restructure): move root files to shared
  rename-maps/domain-services.csv
  rename-maps/root-to-shared.csv
  src/composers/AuthComposer.ts
  src/domain/services/TorrentService.ts
  src/index.ts
  src/presentation/bot/CommandsRegistry.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/FileHandler.ts
  src/presentation/bot/handlers/MediaHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/middleware/ErrorMiddleware.ts
  src/presentation/bot/middleware/diContainerMiddleware.ts
  src/presentation/bot/registerCommands.ts
  src/shared/context.ts
  src/shared/dayjs.ts
  src/shared/fluent.ts
Due: prettier --write, eslint --max-warnings 0

chore: update fluent import path
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

chore(restructure): rename config, presentation/bot, qBittorrent, searchEngines
  rename-maps/config.csv
  rename-maps/migrations-scripts.csv
  rename-maps/presentation-bot.csv
  rename-maps/qbittorrent.csv
  rename-maps/searchEngines.csv
  src/config.ts
  src/config/appConfig.ts
  src/config/envSchema.ts
  src/di.ts
  src/domain/services/FileService.ts
  src/domain/services/SearchService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/SearchService.test.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/index.ts
  src/infrastructure/persistence/migrations/.snapshot-app.db.json
  src/infrastructure/persistence/migrations/Migration20250423081759.ts
  src/infrastructure/persistence/migrations/Migration20260118090000.ts
  src/infrastructure/persistence/migrations/Migration20260120090000CreateChatSession.ts
  src/presentation/bot/__tests__/registerCommands.test.ts
  src/presentation/bot/commandsRegistry.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
  src/presentation/bot/middleware/errorMiddleware.ts
  src/presentation/bot/registerCommands.ts
  src/qbittorrent/__tests__/qBittorrentClient.test.ts
  src/qbittorrent/qBittorrentClient.ts
  src/searchEngines/__tests__/rutrackerSearchEngine.test.ts
  src/searchEngines/rutrackerSearchEngine.ts
  src/searchEngines/searchEngine.ts
Due: prettier --write, eslint --max-warnings 0

fix(qBittorrent): rename files to PascalCase and update imports
  src/domain/services/FileService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/index.ts
  src/qBittorrent/QBittorrentClient.ts
  src/qBittorrent/__tests__/QBittorrentClient.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(audit): add misplaced-files report and generator
  audit/misplaced-files.txt
  scripts/generate-misplaced-report.py
Due: none

chore(tests): move TorrentMetaRepository.test to repository tests and fix imports
  src/infrastructure/persistence/repositories/__tests__/TorrentMetaRepository.test.ts
Due: prettier --write, eslint --max-warnings 0

fix(imports): remove duplicate .js suffix (utils batch)
  src/domain/services/__tests__/SearchService.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.integration.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
  src/searchEngines/__tests__/rutrackerSearchEngine.test.ts
Due: prettier --write, eslint --max-warnings 0

fix(imports): normalize qbittorrent paths and remove duplicate .js
  src/domain/services/FileService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/index.ts
  src/qBittorrent/__tests__/QBittorrentClient.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(rename): qBittorrent -> qbittorrent
  src/qbittorrent/__tests__/qBittorrentClient.test.ts
  src/qbittorrent/qBittorrentClient.ts
Due: prettier --write, eslint --max-warnings 0

fix(imports): normalize qbittorrent import casing
  src/domain/services/FileService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/presentation/bot/handlers/DownloadHandler.ts
Due: prettier --write, eslint --max-warnings 0

fix(rename): normalize qbittorrent casing in git index
  src/qbittorrent/models.ts
  src/qbittorrent/schemas.ts
  src/qbittorrent/types.ts
Due: prettier --write, eslint --max-warnings 0

fix(imports): remove duplicate .js in qbittorrent tests
  src/qbittorrent/__tests__/qBittorrentClient.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(audit): add relocation-map.csv (merged rename-maps)
  audit/relocation-map.csv
Due: none

chore(rename): add full rename map (merged)
  rename-maps/full-rename-map.csv
Due: none

chore(rename): apply migrations-scripts; move rename-maps no-op/applied
  rename-maps/applied/presentation-bot.csv
  rename-maps/no-op/config.csv
  rename-maps/no-op/root-to-shared.csv
  rename-maps/presentation-bot.generated.csv
  scripts/generate-rename-map-for-batch.cjs
  src/infrastructure/scripts/migrate.ts
Due: prettier --write, eslint --max-warnings 0

chore(docs): add PR summary; finalize relocation map
  docs/PR.md
Due: none

chore(cleanup): remove refactor helper scripts and generated rename maps
  audit/dirs.txt
  audit/files.txt
  audit/misplaced-files.txt
  audit/relocation-map.csv
  docs/PR.md
  rename-maps/applied/presentation-bot.csv
  rename-maps/domain-services.csv
  rename-maps/entities.csv
  rename-maps/full-rename-map.csv
  rename-maps/migrations-scripts.csv
  rename-maps/no-op/config.csv
  rename-maps/no-op/root-to-shared.csv
  rename-maps/presentation-bot.generated.csv
  rename-maps/qbittorrent.csv
  rename-maps/searchEngines.csv
  rename-maps/utils.csv
  scripts/generate-misplaced-report.py
  scripts/generate-rename-map-for-batch.cjs
  scripts/git-rename-workaround.sh
  scripts/rename-files.cjs
  scripts/update-imports.cjs
Due: none

chore(move): relocate qbittorrent and searchEngines to infrastructure; update imports
  src/index.ts
  src/infrastructure/qbittorrent/qbittorrent/__tests__/qBittorrentClient.test.ts
  src/infrastructure/qbittorrent/qbittorrent/models.ts
  src/infrastructure/qbittorrent/qbittorrent/qBittorrentClient.ts
  src/infrastructure/qbittorrent/qbittorrent/schemas.ts
  src/infrastructure/qbittorrent/qbittorrent/types.ts
  src/infrastructure/searchEngines/searchEngines/__tests__/rutrackerSearchEngine.test.ts
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
  src/infrastructure/searchEngines/searchEngines/schemas.ts
  src/infrastructure/searchEngines/searchEngines/searchEngine.ts
Due: prettier --write, eslint --max-warnings 0

chore(auth): remove AuthComposer and composers dir
  src/composers/AuthComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(auth): remove leftover AuthComposer
  src/composers/AuthComposer.ts
Due: prettier --write, eslint --max-warnings 0

feat(auth): add AuthService + UserRepository + middleware; integrate into DI and index
  docs/architecture.md
  src/di.ts
  src/domain/services/AuthService.ts
  src/domain/services/FileService.ts
  src/domain/services/SearchService.ts
  src/domain/services/TorrentService.ts
  src/index.ts
  src/infrastructure/persistence/repositories/UserRepository.ts
  src/infrastructure/qbittorrent/qbittorrent/__tests__/qBittorrentClient.test.ts
  src/infrastructure/qbittorrent/qbittorrent/qBittorrentClient.ts
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/middleware/authMiddleware.ts
Due: prettier --write, eslint --max-warnings 0

test(auth): add AuthService + authMiddleware tests
  src/domain/services/__tests__/AuthService.test.ts
  src/presentation/bot/middleware/__tests__/authMiddleware.test.ts
Due: prettier --write, eslint --max-warnings 0

fix(lint): address ESLint issues and safe types; build passes
  .eslintignore
  src/di.ts
  src/domain/services/AuthService.ts
  src/domain/services/FileService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/index.ts
  src/infrastructure/persistence/repositories/UserRepository.ts
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
  src/infrastructure/session/DbSessionStore.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/FileHandler.ts
  src/presentation/bot/handlers/MediaHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/middleware/__tests__/authMiddleware.test.ts
  src/presentation/bot/middleware/authMiddleware.ts
  src/presentation/bot/middleware/diContainerMiddleware.ts
  src/presentation/bot/middleware/errorMiddleware.ts
  src/presentation/bot/registerCommands.ts
Due: prettier --write, eslint --max-warnings 0

chore(installer): make update.sh pull image and recreate container
  scripts/update.tmpl
Due: none

chore(installer): installer pulls latest images and update script runs installer
  scripts/install-linux.sh
  scripts/update.tmpl
Due: none

chore: apply local edits and finalize installer
  src/composers/AuthComposer.ts
  src/di.ts
  src/domain/services/SearchService.ts
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/TorrentService.test.ts
  src/presentation/bot/commandsRegistry.ts
  src/presentation/bot/registerCommands.ts
  src/qBittorrent/QBittorrentClient.ts
  src/qBittorrent/__tests__/QBittorrentClient.test.ts
  src/searchEngines/RutrackerSearchEngine.ts
  src/utils/ChatSettingsRepository.ts
  src/utils/TorrentMetaRepository.ts
  src/utils/__tests__/TorrentMetaRepository.test.ts
Due: prettier --write, eslint --max-warnings 0

chore: remove legacy files and fix imports
  src/composers/AuthComposer.ts
  src/config.ts
  src/index.ts
  src/orm.ts
  src/qBittorrent/QBittorrentClient.ts
  src/qBittorrent/__tests__/QBittorrentClient.test.ts
  src/searchEngines/RutrackerSearchEngine.ts
  src/utils/ChatSettingsRepository.ts
  src/utils/TorrentMetaRepository.ts
  src/utils/__tests__/TorrentMetaRepository.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.19.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  809eafd0e8b467bd316314f6f4aaa7fc04cd4e6d
Due: none

fix: correct dayjs import path
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.19.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b2dbe5fb618347b81aa2a985f483a17e2454edb9
Due: none

fix(installer): restart systemd unit so start.sh runs after update
  scripts/install-linux.sh
Due: none

install: support legacy QBT_WEBUI_* env names and load keys
  scripts/install-linux.sh
Due: none

orm: point entities paths to domain/entities (fix discovery in build)
  src/orm.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.19.2 [skip ci]
  package.json
Due: prettier --write
