Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

.lintstagedrc.yml:

'*.json': prettier --write
'**/src/**/*.{ts,tsx,js,jsx}':
  - eslint --max-warnings 0
  - prettier --write

docs: update readme
  README.md
Due: none

feat: use libfdk_aac
  Dockerfile
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.12.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3674e156012569bf478d97bdb8b988f4c45b57ac
Due: none

fix: refactoring file message
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

docs: readme
  README.md
Due: none

chore(release): 1.12.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fce6c07867abee1b1dd6027940be016e82a4c739
Due: none

fix: replace encoding progress message with uploading message
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.12.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fab7307f2ee484f8ec0a890b8b716c72f709ddbf
Due: none

fix: docker entripoint
  Dockerfile
Due: none

chore(release): 1.12.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a9a938588510b51210833f5c8ad05dc486ec0d0a
Due: none

docs: disclaimer
  README.md
Due: none

fix: refactoring configs
  src/config.ts
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.12.4 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7eccf0dca1dc1064b0bd2e09b17003e3c651adbd
Due: none

fix: locale
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.12.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  154b6b2a9df6b3907f8c0181fd6fbd43b697b235
Due: none

chore: move to manual release policy
  .github/workflows/release.yml
Due: none

fix: refactoring setup script output
  scripts/setup.sh
Due: none

fix: improve search results readability
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

feat: change maximum video bitrate for different resolutions
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.13.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  71bf7ee633f9261a4688b9cec5625f265d5863e3
Due: none

feat: refactoring search result message
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
Due: none

feat: add torrent category
  src/composers/TorrentsComposer.ts
  src/searchEngines/RutrackerSearchEngine.ts
  src/searchEngines/SearchEngine.ts
Due: prettier --write, eslint --max-warnings 0

fix: search results split
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.14.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  89b9aa79e8b28c448552aab891cbfa002da599cf
Due: none

fix: windows wsl host detection
  scripts/setup.sh
Due: none

fix: setup for linux
  scripts/setup.sh
Due: none

fix: sed for linux and windows
  scripts/setup.sh
Due: none

fix: sed command
  scripts/setup.sh
Due: none

fix: setup script
  scripts/setup.sh
Due: none

fix: qbittrorrent config path for linux
  scripts/setup.sh
Due: none
