Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.23.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  43138cbb87592b312a3ce8be56e645443aaa29ea
Due: none

fix(torrents): start restore before timer and avoid deleting progress while pending exist
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(torrents): ensure dispose always clears interval to satisfy tests
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.23.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1c1145b1429d2df710df9d67d1b9d560b0fda719
Due: none

fix(utils): handle undefined/NaN in formatBytes to avoid 'NaN undefined'
  src/shared/utils/formatBytes.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.23.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4c4671121d874bfd6cf98293f21d666a8ea44102
Due: none

fix(torrent): make formatBytes robust against undefined/NaN/0
  src/domain/services/TorrentService.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.23.4 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2482e1880a5acaf5f83a066e7b76e0311dc8621e
Due: none

fix(commands): use fluent.withLocale for command descriptions
  src/presentation/bot/commandsRegistry.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(locales): keep only en and ru
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
Due: none

feat(torrents): render /torrents with same templates as progress messages
  src/presentation/bot/commandsRegistry.ts
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

feat(torrents): per-item buttons; remove global refresh
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore: save changes
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.24.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  80f5b9fe42841ab904aad0da21b52bf0f263ce77
Due: none

fix(torrents): remove per-item buttons and extra blank lines in list
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

Notes added by 'git notes add'
  5aa529964c59d30044a0c600ebf266efc1b8c535
Due: none

chore(release): 1.24.1 [skip ci]
  package.json
Due: prettier --write

fix(torrent): use existing 'torrent-file-message' localization key
  src/domain/services/TorrentService.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.24.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  645e46a4a8c2710bf4b54c3ace1d5ad09ecf4939
Due: none

fix(routing): let /dl_file_* reach DownloadHandler (specific path first)
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.24.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  079d0161ab66f6525c0ccb4a3a5c8ef1b9b03f90
Due: none

fix(download): log missing file on disk (keep previous behavior for tests)
  src/presentation/bot/handlers/DownloadHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore: use BotDataTorrentsPath for torrent files; simplify DI and tests
  src/di.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.integration.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.24.4 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  e35c9afdd629f226dbfb18c9973dc9f023708db2
Due: none

fix(download): handle large video compression race; add progress debounce and ffmpeg error tests
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.ffmpeg.error.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.ffmpeg.integration.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.progress.highfreq.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.progress.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(download): move candidate probing out of ffmpeg callback; test lint fixes
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.ffmpeg.error.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.ffmpeg.integration.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.progress.highfreq.test.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.progress.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

test: fix lint warning in ffmpeg integration mock
  src/presentation/bot/handlers/__tests__/DownloadHandler.ffmpeg.integration.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix: requested force-push of latest changes
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.ffmpeg.integration.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.24.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  76ac249b4055e0b3db3164b4ccf37b3a3b88c778
Due: none

feat(torrent): return existing meta from addTorrent when duplicate
  src/domain/services/TorrentService.ts
  src/domain/services/__tests__/TorrentService.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore: user-requested commit
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

Path conditions:
  prettier --write: ((any of: src/**/*.{ts,js}) or (any of: *.{md,json,css})) or ((any of: *.json) or (any of: **/src/**/*.{ts,tsx,js,jsx}))
  eslint --fix: any of: src/**/*.{ts,js}
  eslint --max-warnings 0: any of: **/src/**/*.{ts,tsx,js,jsx}
