Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint --max-warnings 0

ci: speed up Yarn install by caching unplugged/virtual and using immutable install flags
  .github/workflows/release.yml
Due: none

ci: remove deprecated --non-interactive from yarn install
  .github/workflows/release.yml
Due: none

chore(release): 1.21.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1fef45b5bde2e0587ef5994e19321fa07b6a1e71
Due: none

feat(i18n): add torrent-download-success message; pass uid to reply
  locales/en.ftl
  locales/ru.ftl
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

feat(torrents): show updated torrents list after add (stats, files/remove)
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(di): make Bot and ChatSettingsRepository optional in TorrentHandler factory
  src/di.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(di): make Bot and ChatSettingsRepository optional; remove any usages
  src/di.ts
  src/index.ts
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(types): avoid undefined in TorrentHandler options and ensure torrent fields are non-undefined
  src/di.ts
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.22.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  792b7ee8b840837d589fe840401372ac01ece50e
Due: none

fix(torrents): remove extra success message, show progress message immediately on add, refresh on remove
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

style: format after lint:fix
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(search): remove empty lines between results, filter out empty tracker links
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(search): format SearchHandler with prettier and eslint
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

test(torrents): fix and align tests with handler behavior; ensure ctx.chatId and default mocks
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.22.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c021a6dc6b9d7184b57d9a7824fc175b63672682
Due: none

fix(search): disable web page preview to avoid tracker link preview
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(torrents): update progress message logic to avoid duplicates and exclude completed torrents
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(search): use link_preview_options instead of deprecated disable_web_page_preview
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.22.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4ce0a48d33c2ef61dd46874399dd9e17344efc1f
Due: none

fix(torrents): remove finally block to prevent message recreation on error
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

ci(release): remove explicit Yarn cache steps (setup-node cache is sufficient)
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  e6d1742c008b3ec3b267aea8d4c120dde568f1af
Due: none

chore(release): 1.22.3 [skip ci]
  package.json
Due: prettier --write

ci(release): fix Node.js version to use 20.x instead of lts/*
  .github/workflows/release.yml
Due: none

fix(torrents): prevent message recreation by adding locking and state synchronization
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

feat(torrents): add message state persistence for bot restart recovery
  src/di.ts
  src/domain/entities/ChatMessageState.ts
  src/infrastructure/persistence/migrations/Migration20260123000001CreateChatMessageState.ts
  src/infrastructure/persistence/repositories/ChatMessageStateRepository.ts
  src/infrastructure/persistence/repositories/__tests__/ChatMessageStateRepository.test.ts
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

feat(torrents): add message state persistence for bot restart recovery
  src/infrastructure/persistence/repositories/__tests__/ChatMessageStateRepository.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

feat(bot): remove periodic cleanup of expired message states
  src/di.ts
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(persistence): align ChatMessageStateRepository EM calls, tests and migration; run cleanup on init
  src/infrastructure/persistence/migrations/Migration20260123000001CreateChatMessageState.ts
  src/infrastructure/persistence/repositories/ChatMessageStateRepository.ts
  src/infrastructure/persistence/repositories/__tests__/ChatMessageStateRepository.test.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(lint): fix unicorn rules in ChatMessageStateRepository
  src/infrastructure/persistence/repositories/ChatMessageStateRepository.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore(release): 1.23.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ccb3248a3305750c792b4c7757eb42b1fc7f8f65
Due: none

fix(bot): update torrent progress messages in-place with retry and per-chat lock; add debug logs
  src/presentation/bot/handlers/TorrentHandler.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

refactor(types): make handler deps required, add retry util, adjust DI and tests
  src/di.ts
  src/domain/services/AuthService.ts
  src/infrastructure/qbittorrent/qbittorrent/qBittorrentClient.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.test.ts
  src/shared/utils/CookieStorage.ts
  src/shared/utils/RpcClient.ts
  src/shared/utils/retry.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

chore: save local changes
  src/di.ts
  src/domain/services/AuthService.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/TorrentHandler.integration.test.ts
  src/shared/utils/retry.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

fix(retry): use correct catch variable name
  src/shared/utils/retry.ts
Due: prettier --write, eslint --fix, eslint --max-warnings 0

Path conditions:
  prettier --write: ((any of: src/**/*.{ts,js}) or (any of: *.{md,json,css})) or ((any of: *.json) or (any of: **/src/**/*.{ts,tsx,js,jsx}))
  eslint --fix: any of: src/**/*.{ts,js}
  eslint --max-warnings 0: any of: **/src/**/*.{ts,tsx,js,jsx}
