Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  5421ec1a8374666cbb4f45ae99c4d72e122db931
Due: none

chore(release): 1.14.1 [skip ci]
  package.json
Due: prettier --write

docs: remove technical details of readme setup section
  README.md
Due: none

fix: remove unnecessary debugs
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

feat: improve readability of output lists using quotes
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
Due: none

chore(release): 1.15.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ef8c8b41ce61ecf351b114a25be4e89b2275db06
Due: none

docs: update readme
  README.md
Due: none

docs: update logo
  static/logo.webp
Due: none

docs: logo
  static/logo.webp
Due: none

fix: formatting
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

feat: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.16.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  712c15efdb1d8ca5e6323367c96b1a1561649475
Due: none

feat: upgrade dependencies
  package.json
  src/utils/ConfigEnv.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

fix: add better-sqlite3 system dependencies
  Dockerfile
Due: none

chore(release): 1.17.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  953b9afdb3d74e53ccd5bc5073d265b891ebcbf7
Due: none

fix: better-sqlite runtime
  Dockerfile
  src/index.ts
  src/logger.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.17.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  da77317631475cda2e79fe43126f613c3adfdec1
Due: none

fix: migrations
  mikro-orm.config.ts
  src/index.ts
  src/orm.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.17.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5c5085a8f4547e07b82d297f667f92a0a82742c1
Due: none

fix: auth
  scripts/setup.sh
  src/composers/AuthComposer.ts
  src/index.ts
  src/orm.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.17.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  1f71eb7584cfd89caf4fbeb6b984a80df942ce16
Due: none

fix: resolve DNS issues and simplify deployment
  README.md
  docs/IP-qbittorrent-tags-to-db.md
  docs/IP-torrents-list-command.md
  docs/PRD-qbittorrent-tags-to-db.md
  docs/PRD-torrents-list-command.md
  docs/TDD-qbittorrent-tags-to-db.md
  docs/TDD-torrents-list-command.md
  locales/en.ftl
  locales/ru.ftl
  scripts/install-linux.sh
  scripts/setup.sh
  scripts/smart-home-media-assistant-telegram-bot.service.tmpl
  scripts/start.tmpl
  scripts/stop.tmpl
  scripts/update.tmpl
  src/composers/TorrentsComposer.ts
  src/entities/ChatSettings.ts
  src/entities/TorrentMeta.ts
  src/index.ts
  src/migrations/Migration20260118090000.ts
  src/utils/ChatSettingsRepository.ts
  src/utils/TorrentMetaRepository.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

Notes added by 'git notes add'
  4eab60f7bea6d6d7e9f5b820bf21afb3092050de
Due: none

chore(release): 1.17.4 [skip ci]
  package.json
Due: prettier --write

fix: add host.docker.internal to /etc/hosts on Debian/Ubuntu
  scripts/install-linux.sh
Due: none

fix: synchronize @mikro-orm package versions to 6.4.16
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.17.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  160595a5475220d96e3dbe78a06dc7df42c0112c
Due: none

fix: remove unbound OS variable in install-linux.sh
  scripts/install-linux.sh
Due: none

chore(release): 1.17.6 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  33e2de3bf2503d660786e3ac961a5d471f60b55e
Due: none

fix: pin @mikro-orm/* to exact version 6.4.16 to resolve version mismatch
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.17.7 [skip ci]
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.json) or (any of: **/src/**/*.{ts,tsx,js,jsx})
  eslint --max-warnings 0: any of: **/src/**/*.{ts,tsx,js,jsx}
