Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

.lintstagedrc.yml:

'*.json': prettier --write
'**/src/**/*.{ts,tsx,js,jsx}':
  - eslint --max-warnings 0
  - prettier --write

fix: ignore podman rm errors
  Makefile
Due: none

feat: allow to set save path
  src/config.ts
  src/index.ts
  src/qBittorrent/QBittorrentClient.ts
Due: prettier --write, eslint --max-warnings 0

fix: make progress bar length is 15 bloock by default
  src/utils/formatProgress.ts
Due: prettier --write, eslint --max-warnings 0

feat: allow to delete torrents
  package.json
  src/index.ts
  src/middlewares/torrents.ts
  src/qBittorrent/QBittorrentClient.ts
  src/qBittorrent/models.ts
  src/searchEngines/Engine.ts
  src/searchEngines/RutrackerEngine.ts
  src/utils/CookieStorage.ts
  src/utils/formatProgress.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

fix: qbittorrent auth
  src/qBittorrent/QBittorrentClient.ts
Due: prettier --write, eslint --max-warnings 0

feat: refactoring
  src/composers/TorrentsComposer.ts
  src/index.ts
  src/searchEngines/RutrackerSearchEngine.ts
  src/searchEngines/SearchEngine.ts
Due: prettier --write, eslint --max-warnings 0

fix: remove unnecessary settings file
  transmission-settings.json
Due: prettier --write

fix: uniform makefile by using docker
  Makefile
Due: none

fix: allow to customize build tool
  Makefile
Due: none

feat: readme
  .env.template
  .gitignore
  README.md
Due: none

fix: readme
  README.md
Due: none

fix: log empty rutracker results
  src/searchEngines/RutrackerSearchEngine.ts
Due: prettier --write, eslint --max-warnings 0

fix: add image to readme
  README.md
  static/image.webp
Due: none

fix: fix image
  static/image.webp
Due: none

fix: add an disclamer
  README.md
Due: none

feat: i18n
  locales/ar.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/vi.ftl
  locales/zh.ftl
  package.json
  src/Context.ts
  src/composers/TorrentsComposer.ts
  src/dayjs.ts
  src/fluent.ts
  src/index.ts
  src/qBittorrent/QBittorrentClient.ts
  src/utils/formatDuration.ts
  yarn.lock
Due: prettier --write, eslint --max-warnings 0

fix: update image
  static/image.webp
Due: none

fix: refactoring
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

fix: stop container before remove and run again
  Makefile
Due: none

fix: add locales to docker image
  Dockerfile
Due: none

fix: don't automatically stop and remove container on run
  Makefile
Due: none

fix: refactoring
  locales/ar.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/vi.ftl
  locales/zh.ftl
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

fix: locales
  locales/ar.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/vi.ftl
  locales/zh.ftl
Due: none

fix: reply search results in a single message
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

fix: translation
  src/composers/TorrentsComposer.ts
Due: prettier --write, eslint --max-warnings 0

fix: refactor and simplify message formatting code
  locales/ar.ftl
  locales/bn.ftl
  locales/cs.ftl
  locales/de.ftl
  locales/el.ftl
  locales/en.ftl
  locales/es.ftl
  locales/fr.ftl
  locales/he.ftl
  locales/hi.ftl
  locales/hu.ftl
  locales/id.ftl
  locales/it.ftl
  locales/ja.ftl
  locales/ko.ftl
  locales/nl.ftl
  locales/pl.ftl
  locales/pt.ftl
  locales/ro.ftl
  locales/ru.ftl
  locales/sv.ftl
  locales/th.ftl
  locales/tr.ftl
  locales/uk.ftl
  locales/vi.ftl
  locales/zh.ftl
  src/composers/TorrentsComposer.ts
  src/searchEngines/RutrackerSearchEngine.ts
  src/searchEngines/SearchEngine.ts
Due: prettier --write, eslint --max-warnings 0

fix: add note for windows users
  README.md
Due: none

feat: create license
  LICENSE
Due: none

fix: image size and align
  README.md
Due: none

fix: replace save path placeholder in the env.template
  .env.template
Due: none

fix: delete .env content from readme
  README.md
Due: none

feat: refactor environment variables
  .env.template
  src/config.ts
Due: prettier --write, eslint --max-warnings 0

feat: release workflow
  .github/workflows/release.yml
  .releaserc
  package.json
  yarn.lock
Due: prettier --write

Notes added by 'git notes add'
  301417fe601b08c21601ba25ce7caade10949f10
Due: none

feat: build and push docker image
  .github/workflows/release.yml
Due: none

Notes added by 'git notes add'
  191d53e7fdbdb86e0a33d4e45a095c6341748f0e
Due: none
