Repository strayiker/smart-home-media-assistant-telegram-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings 0

.lintstagedrc.yml:

'*.json': prettier --write
'**/src/**/*.{ts,tsx,js,jsx}':
  - eslint --max-warnings 0
  - prettier --write

Notes added by 'git notes add'
  044940c75a93d1de729fa5996b19fd53850607e9
Due: none

fix(orm): fix migrations path to infrastructure/persistence/migrations
  src/orm.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.19.3 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  3e73c961db44c7fd15bc8e4ace9bee3f345854cd
Due: none

fix(config): use QBT_WEB_UI_* env names; remove legacy QBT_WEBUI_* in installer
  scripts/install-linux.sh
  scripts/local_rutracker_test.ts
  src/config/app.config.ts
  src/config/envSchema.ts
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

chore(hooks): add pre-commit hook to run lint, build, test
  .husky/_/h
  .husky/pre-commit
Due: none

chore(config): remove redundant src/config/app.config.ts
  src/config/app.config.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.19.4 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d43f022bc8edece66c842f337b9ab8c30af85aa2
Due: none

chore(logger): remove process.env.DEBUG usage; rely on LOG_LEVEL and NODE_ENV
  src/logger.ts
Due: prettier --write, eslint --max-warnings 0

style: lint fixes (sort imports, remove unused import)
  scripts/local_rutracker_test.ts
  src/domain/services/SearchService.ts
  src/index.ts
  src/infrastructure/qbittorrent/qbittorrent/qBittorrentClient.ts
  src/infrastructure/scripts/migrate.ts
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
  src/logger.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/SearchHandler.test.ts
Due: prettier --write, eslint --max-warnings 0

chore(logging): remove logger guards, add logging instrumentation and test mock updates
  scripts/local_rutracker_test.ts
  src/config/envSchema.ts
  src/di.ts
  src/domain/services/SearchService.ts
  src/index.ts
  src/infrastructure/qbittorrent/qbittorrent/qBittorrentClient.ts
  src/infrastructure/scripts/migrate.ts
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
  src/logger.ts
  src/presentation/bot/handlers/DownloadHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
  src/presentation/bot/handlers/TorrentHandler.ts
  src/presentation/bot/handlers/__tests__/DownloadHandler.test.ts
  src/presentation/bot/handlers/__tests__/SearchHandler.test.ts
Due: prettier --write, eslint --max-warnings 0

fix(lint): sort imports and remove unused import
  scripts/local_rutracker_test.ts
Due: none

chore(release): 1.19.5 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  2914c2b69f3deeaaeda16fcc84cb4bb9cbc5c475
Due: none

fix(di): prefer registered instances over factories to allow singleton overrides
  src/di.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.19.6 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  38f584e89014312f184be261ac549f6553769eed
Due: none

chore(logging): log search engines and credential presence on startup
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

fix(rutracker): escape query, robust numeric parsing; add local rutracker check script
  src/index.ts
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
Due: prettier --write, eslint --max-warnings 0

chore(husky): restore lint-staged, remove prettier from lint-staged, fix pre-commit hooks
  .husky/_/h
  .husky/pre-commit
  .lintstagedrc.json
  README.md
  package.json
  src/index.ts
  src/scripts/huskyFinalTest.ts
  src/scripts/huskyFinalVerify.ts
  src/scripts/huskyTest.ts
  src/scripts/huskyVerify.ts
Due: prettier --write, eslint --max-warnings 0

chore(rutracker): log raw response and parsed results preview
  .lintstagedrc.json
  README.md
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.19.7 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  593dbf663f74e5d29191923011b9daa6469ccf26
Due: none

fix(di): register configured SearchService instance so handlers use same instance
  src/infrastructure/searchEngines/searchEngines/rutrackerSearchEngine.ts
Due: prettier --write, eslint --max-warnings 0

fix(di): register configured SearchService instance so handlers use same instance
  src/index.ts
Due: prettier --write, eslint --max-warnings 0

ci(release): cache Yarn v2+ (.yarn/cache, releases, install-state)
  .github/workflows/release.yml
Due: none

chore(release): 1.19.8 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  7304e4ec1305d4508fc9e7387dfc1d0ce6921ef1
Due: none

feat(search): restore formatted HTML search output; use shared escapeHtml helper
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --max-warnings 0

feat(search): restore formatted HTML output; unify escapeHtml usage
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --max-warnings 0

feat(bot): format file list messages via i18n template
  src/presentation/bot/handlers/FileHandler.ts
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --max-warnings 0

feat(search): restore formatted HTML search output with details link and download command
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --max-warnings 0

chore(release): 1.20.0 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  92b42e40aed21c0d73d25ea1cb062ba7eaee578f
Due: none

feat(search): restore HTML-safe search formatting
  src/presentation/bot/handlers/SearchHandler.ts
Due: prettier --write, eslint --max-warnings 0

fix(torrent): handle duplicate uid when persisting metadata (no-explicit-any)
  src/domain/services/TorrentService.ts
Due: prettier --write, eslint --max-warnings 0

fix(torrent): handle duplicate uid when persisting metadata
  src/domain/services/TorrentService.ts
Due: prettier --write, eslint --max-warnings 0

fix(torrent): avoid adding duplicate torrent by checking uid before qBittorrent upload
  src/domain/services/TorrentService.ts
Due: prettier --write, eslint --max-warnings 0

chore: commit workspace changes
  src/domain/services/TorrentService.ts
Due: prettier --write, eslint --max-warnings 0
